.setup_share_sectoin {
  margin-top: 4rem;
  padding-inline: 1rem;
}

.setup_share_sectoin > p {
  font-size: 20px;
  font-weight: 600;
  color: #616161;
  text-align: center;
  margin-bottom: .5rem;
}

.setup_share_sectoin > h2 {
  font-size: 40px;
  font-weight: bold;
  color: #3A3A3A;
  text-align: center;
  line-height: 33px;
  word-wrap: break-word;
}

.setup_gallery {
  margin-top: 2rem;
  width: fit-content;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 420px;
}

.setup_gallery img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media only screen and (min-width: 700px) {
  .setup_gallery {
    flex-direction: row;
  }
}
